# Sección nueva

Montar drive en caso de tener los datos ahí

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importar frameworks

In [ ]:
import pandas as pd
employees = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Módulo 2/Reto/Employee_Attrition.csv')
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001 entries, 0 to 3000
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   float64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2949 non-null   float64
 9   Time_since_promotion       3000 non-null   float64
 10  growth_rate                3000 non-null   float64
 11  Travel_Rate                3000 non-null   float64
 12  Post_Level                 3000 non-null   float64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   float64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   float64
 21  VAR6                       3000 non-null   float64
 22  VAR7                       3000 non-null   float64
dtypes: float64(16), object(7)
memory usage: 539.4+ KB

**Recuperar la información del Archivo employee_attrition.csv**

In [ ]:
employees

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5.0,Single,Springfield,R&D,Conceptual,7.000000,4.0,...,4.0,type2,1.0,3.0,-0.9612,-0.4537,2.0,1.0,8.0,4.0
1,EID_9658,M,65.0,2.0,Single,Lebanon,IT,Directive,41.000000,2.0,...,1.0,type2,1.0,4.0,-0.9612,0.7075,1.0,2.0,8.0,2.0
2,EID_22203,M,52.0,3.0,Married,Springfield,Sales,Directive,21.000000,3.0,...,8.0,type3,1.0,4.0,-0.1048,0.7075,2.0,1.0,9.0,3.0
3,EID_7652,M,50.0,5.0,Single,Washington,Marketing,Analytical,11.000000,4.0,...,2.0,type0,4.0,3.0,-0.1048,0.7075,2.0,2.0,8.0,3.0
4,EID_6516,F,44.0,3.0,Married,Franklin,R&D,Conceptual,12.000000,4.0,...,2.0,type2,4.0,4.0,1.6081,0.7075,2.0,2.0,7.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,EID_10066,F,NaN,2.0,Single,Franklin,Marketing,Conceptual,10.000000,2.0,...,9.0,type2,1.0,3.0,0.7516,0.7075,3.0,4.0,8.0,3.0
2997,EID_7126,F,60.0,4.0,Single,Lebanon,Logistics,Analytical,35.000000,1.0,...,9.0,type3,3.0,3.0,-1.8176,-0.4537,NaN,4.0,8.0,4.0
2998,EID_4929,F,51.0,1.0,Married,Springfield,IT,Behavioral,23.000000,1.0,...,6.0,type3,1.0,5.0,0.7516,-0.4537,2.0,3.0,9.0,2.0
2999,EID_24750,F,45.0,1.0,Single,Franklin,Sales,Directive,12.000000,4.0,...,8.0,type4,4.0,3.0,0.7516,-0.4537,2.0,2.0,8.0,5.0
3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.822222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**El tiempo de servicio promedio de los trabajadores**

In [ ]:
employees["Time_of_service"].mean()

13.403805433102747

**El porcentaje de hombres y mujeres en el archivo**

In [ ]:
contF = employees[employees['Gender'] == 'F']
contM = employees[employees['Gender'] == 'M']

print("Total de Hombres en el archivo: ", contM['Gender'].count())
print("Total de Mujeres en el archivo: ", contF['Gender'].count())

Total de Hombres en el archivo:  1272
Total de Mujeres en el archivo:  1728



```
# Esto tiene formato de código
```

**El tiempo máximo sin promoción de las personas que llevan más de 15 años de servicio**

In [ ]:
#x = employees[['Time_of_service','Time_since_promotion']].groupby('Time_of_service').max()
#employees[employees['Time_of_service'] > 15].groupby('Time_of_service').max()
timeprom = employees[employees["Time_of_service"]>15]

print("Tiempo máximo sin promoción de las personas que llevan más de 15 años de servicio:", timeprom["Time_since_promotion"].max(), "años")

Tiempo máximo sin promoción de las personas que llevan más de 15 años de servicio: 4.0 años

**La edad promedio en la que ingresaron las personas a la empresa, genera una nueva columna derivada mediante la formula Age - Time_of_service**

In [ ]:
ageprom=employees['Age'].mean()
print("Edad promedio en la que ingresaron las personas a la empresa:", ageprom)

Edad promedio en la que ingresaron las personas a la empresa: 39.797816132441

###Nueva columna

In [ ]:
employees["edad_prom"] = employees["Age"] - employees["Time_of_service"]
employees

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,edad_prom
0,EID_22713,F,32.0,5.0,Single,Springfield,R&D,Conceptual,7.000000,4.0,...,type2,1.0,3.0,-0.9612,-0.4537,2.0,1.0,8.0,4.0,25.0
1,EID_9658,M,65.0,2.0,Single,Lebanon,IT,Directive,41.000000,2.0,...,type2,1.0,4.0,-0.9612,0.7075,1.0,2.0,8.0,2.0,24.0
2,EID_22203,M,52.0,3.0,Married,Springfield,Sales,Directive,21.000000,3.0,...,type3,1.0,4.0,-0.1048,0.7075,2.0,1.0,9.0,3.0,31.0
3,EID_7652,M,50.0,5.0,Single,Washington,Marketing,Analytical,11.000000,4.0,...,type0,4.0,3.0,-0.1048,0.7075,2.0,2.0,8.0,3.0,39.0
4,EID_6516,F,44.0,3.0,Married,Franklin,R&D,Conceptual,12.000000,4.0,...,type2,4.0,4.0,1.6081,0.7075,2.0,2.0,7.0,4.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,EID_10066,F,NaN,2.0,Single,Franklin,Marketing,Conceptual,10.000000,2.0,...,type2,1.0,3.0,0.7516,0.7075,3.0,4.0,8.0,3.0,NaN
2997,EID_7126,F,60.0,4.0,Single,Lebanon,Logistics,Analytical,35.000000,1.0,...,type3,3.0,3.0,-1.8176,-0.4537,NaN,4.0,8.0,4.0,25.0
2998,EID_4929,F,51.0,1.0,Married,Springfield,IT,Behavioral,23.000000,1.0,...,type3,1.0,5.0,0.7516,-0.4537,2.0,3.0,9.0,2.0,28.0
2999,EID_24750,F,45.0,1.0,Single,Franklin,Sales,Directive,12.000000,4.0,...,type4,4.0,3.0,0.7516,-0.4537,2.0,2.0,8.0,5.0,33.0
3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.822222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Un dataframe con las columnas Employee_ID, Relationship, Decision_skill_process que sólo contenga los registros de mujeres, solteras y con compensación tipo 2 o 3**

In [ ]:
#resul = (employees[(employees['Compensation_and_Benefits'] == 'type2') | (employees['Compensation_and_Benefits'] =='type3') & (employees['Gender'] == 'F') & (employees['Relationship_Status'] =='Single')])
resul = (employees[(employees['Compensation_and_Benefits'] == 'type2') | (employees['Compensation_and_Benefits'] =='type3')])
resul = (resul[employees['Gender'] == 'F'])
resul = (resul[employees['Relationship_Status'] == 'Single'])
resul = resul[["Employee_ID","Relationship_Status","Decision_skill_possess"]]
resul

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

     Employee_ID Relationship_Status Decision_skill_possess
0      EID_22713              Single             Conceptual
10     EID_13639              Single             Behavioral
12     EID_16537              Single              Directive
15      EID_1855              Single             Analytical
23     EID_11398              Single              Directive
...          ...                 ...                    ...
2979   EID_23052              Single             Analytical
2993   EID_10639              Single             Conceptual
2995   EID_22547              Single              Directive
2996   EID_10066              Single             Conceptual
2997    EID_7126              Single             Analytical

[578 rows x 3 columns]

**Una columna derivada con el valor "on time" si cuando tuvo su última promoción tenía menos de 30 años. En caso contrario colocar el valor de "out of time"**

In [ ]:
employees["En_tiempo"] = employees["Age"] < (30)
employees["En_tiempo"] = employees["En_tiempo"].replace(True, 'On time')
employees["En_tiempo"] = employees["En_tiempo"].replace(False, 'Out of time')
employees

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,edad_prom,En_tiempo
0,EID_22713,F,32.0,5.0,Single,Springfield,R&D,Conceptual,7.000000,4.0,...,1.0,3.0,-0.9612,-0.4537,2.0,1.0,8.0,4.0,25.0,Out of time
1,EID_9658,M,65.0,2.0,Single,Lebanon,IT,Directive,41.000000,2.0,...,1.0,4.0,-0.9612,0.7075,1.0,2.0,8.0,2.0,24.0,Out of time
2,EID_22203,M,52.0,3.0,Married,Springfield,Sales,Directive,21.000000,3.0,...,1.0,4.0,-0.1048,0.7075,2.0,1.0,9.0,3.0,31.0,Out of time
3,EID_7652,M,50.0,5.0,Single,Washington,Marketing,Analytical,11.000000,4.0,...,4.0,3.0,-0.1048,0.7075,2.0,2.0,8.0,3.0,39.0,Out of time
4,EID_6516,F,44.0,3.0,Married,Franklin,R&D,Conceptual,12.000000,4.0,...,4.0,4.0,1.6081,0.7075,2.0,2.0,7.0,4.0,32.0,Out of time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,EID_10066,F,NaN,2.0,Single,Franklin,Marketing,Conceptual,10.000000,2.0,...,1.0,3.0,0.7516,0.7075,3.0,4.0,8.0,3.0,NaN,Out of time
2997,EID_7126,F,60.0,4.0,Single,Lebanon,Logistics,Analytical,35.000000,1.0,...,3.0,3.0,-1.8176,-0.4537,NaN,4.0,8.0,4.0,25.0,Out of time
2998,EID_4929,F,51.0,1.0,Married,Springfield,IT,Behavioral,23.000000,1.0,...,1.0,5.0,0.7516,-0.4537,2.0,3.0,9.0,2.0,28.0,Out of time
2999,EID_24750,F,45.0,1.0,Single,Franklin,Sales,Directive,12.000000,4.0,...,4.0,3.0,0.7516,-0.4537,2.0,2.0,8.0,5.0,33.0,Out of time
3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.822222,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Out of time

**Guardar los dataframes resultantes**

In [ ]:
employees.to_csv('/content/RetoFinal.csv')